<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
    <extensions>
      <add assembly="NLog.Extensions.AzureTableStorage" />
    </extensions>
    <targets>
      <target name="logfile" xsi:type="File" filename="C:/logs/AzureTableStorageNLog/${shortdate}.log" layout="${level:uppercase=true} | ${longdate:universalTime=true} UTC | Logger: ${logger:shortName=true}${newline}${callsite:cleanNamesOfAnonymousDelegates=true}:${callsite-linenumber}${newline}${message}${newline}${exception:format=toString}${newline}Stack Trace:${newline}${stacktrace}" />"
      <target name="azuretablestorage" xsi:type="AzureTableStorage" ConnectionStringKey="AzureTableStorage" TableName="AzureTableStorageNLog" layout="${callsite:cleanNamesOfAnonymousDelegates=true}:${callsite-linenumber}${newline}Stack Trace:${stacktrace}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minLevel="Trace" writeTo="azuretablestorage" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="AzureTableStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=x;AccountKey=x;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>